.App {
  text-align: center;
}

.App-header {
  background-color: #3f3f46;
  min-height: 100vh;

  color: white;
}

.spotifyLogo {
  width: 20vw;
}

.profileImage {
  width: 20vw;
}

.top {
  padding-top: 3%;
}

.topArtists {
  padding: 5%;
}

.topSongs {
  padding: 5%;
}

.card {
  background-color: rgb(56, 54, 54) !important;
  height: 100%;
}

.cardBody {
  background-color: rgb(56, 54, 54);
}

.songTitle {
  padding: 2%;
  background-color: black;
  color: whitesmoke;
}

.searchedSongTitle {
  padding: 2%;
  background-color: black;
  color: whitesmoke;
}

.searchSong {
  width: 60vw;
}

.searchedSongTitle:hover {
  background-color: #737b7e;
}

.albumCover {
  width: 15vw;
  padding-top: 1.5%;
}

.trackPlayer {
  width: 45vw;
}

.recommendName {
  font-size: 2.7vw;
  padding-top: 1%;
}

.recommendArtist {
  font-size: 1.8vw;
  margin-top: -1.5%;
}

.audioPlayer {
  width: 100%;
}

.albumCover:hover {
  opacity: 0.5;
}

.publicPlaylists {
  padding: 5%;
}

@media only screen and (min-width: 370px) and (max-width: 768px) {
  .searchSong {
    width: 80vw;
  }

  .albumCover {
    width: 30vw;
  }

  .songTitle {
    font-size: 3vw;
  }

  .trackPlayer {
    width: 70vw;
  }

  .profileImage {
    width: 30vw;
  }

  .card {
    width: 35vw;
  }

  .playlistPic {
    width: 25vw;
  }

  .playlistCard {
    width: 27vw;
  }
}

@media only screen and (min-width: 769px) {
  /* .card {
    width: 18vw;
  } */
}
