.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;

  color: white;
}

.profileImage {
  width: 20vw;
}

.top {
  padding-top: 3%;
}

.topArtists {
  height: 50%;
}

.card {
  background-color: rgb(56, 54, 54) !important;
  height: 100%;
}

.cardTop {
  height: 18vw;
  object-fit: cover;
}

.cardBody {
  background-color: rgb(56, 54, 54);
}

audio::-webkit-media-controls-panel {
  background-color: rgb(56, 54, 54);
}

audio::-webkit-media-controls-mute-button {
  background-color: #737b7e;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button {
  background-color: #737b7e;
  border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: rgba(177, 212, 224, 0.7);
}

audio::-webkit-media-controls-current-time-display {
  color: #fff;
}

audio::-webkit-media-controls-time-remaining-display {
  color: #fff;
}

audio::-webkit-media-controls-timeline {
  background-color: #737b7e;
  border-radius: 25px;
  margin-left: 10px;
  margin-right: 10px;
}

.songTitle {
  padding: 2%;
  background-color: black;
  color: whitesmoke;
}

.searchedSongTitle {
  padding: 2%;
  background-color: black;
  color: whitesmoke;
}

.searchSong {
  width: 60vw;
}

.searchedSongTitle:hover {
  background-color: #737b7e;
}

.albumCover {
  width: 15vw;
  padding-top: 1.5%;
}

.recommendSong {
  width: 45vw;
}

.recommendName {
  font-size: 2.7vw;
  padding-top: 1%;
}

.recommendArtist {
  font-size: 1.8vw;
  margin-top: -1.5%;
}

.audioPlayer {
  width: 100%;
}

.albumCover:hover {
  opacity: 0.5;
}

@media only screen and (min-width: 370px) and (max-width: 768px) {
  .searchSong {
    width: 80vw;
  }

  .recommendSong {
    width: 60vw;
  }

  .albumCover {
    width: 18vw;
  }

  .songTitle {
    font-size: 3vw;
  }

  .profileImage {
    width: 30vw;
  }
}

@media only screen and (min-width: 769px) {
  .logout {
    padding-left: 1%;
  }
}
