.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  color: white;
}

.App-link {
  color: #61dafb;
}

.profileImage {
  width: 20vw;
}

.top {
  padding-top: 3%;
}

.topArtists {
  height: 50%;
}

.card {
  background-color: rgb(56, 54, 54) !important;
  height: 100%;
}

.cardTop {
  height: 18vw;
  object-fit: cover;
}

.cardBody {
  background-color: rgb(56, 54, 54);
}
